Repository hugegraph/hugegraph-hubble: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix property validation in schmea and open new page to check failed reason
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/edgeTypeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/metadataPropertyStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/vertexTypeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Sync code editor changes
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Fix property validation in schmea and open new page to check failed reason (#277)
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/edgeTypeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/metadataPropertyStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/vertexTypeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Sync code editor changes (#278)
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
Due: prettier --write

Async gremlin task doesn't need to optimize
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/GremlinQueryService.java
Due: none

Async gremlin task doesn't need to optimize (#285)
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/GremlinQueryService.java
Due: none

Use commercial license on release-1.5.0
  hubble-be/src/main/java/com/baidu/hugegraph/service/graph/GraphService.java
Due: none

add remark name verification
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
Due: none

tiny improve
  hubble-be/src/main/resources/i18n/messages.properties
Due: none

Fix some small bugs and improve experience
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/graph/GraphService.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

tiny improve
  hubble-be/src/main/java/com/baidu/hugegraph/controller/schema/VertexLabelController.java
Due: none

[HugeGraph-Hubble-fe] Fix focus-detection error
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Fix bunch of issues of algorithm
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.tsx
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/AllPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/LoopDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/RadiographicInspection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPathAll.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/data-import/import-tasks/ImportTasks.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/index.less
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/dataMapStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/utils/index.ts
  hubble-fe/src/utils/formatAlgorithmStatement.ts
  hubble-fe/src/utils/index.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Implement new algorithms
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/RadiographicInspection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix algorithm:custom-path issues, add description about max_degree field
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/AllPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/LoopDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/RadiographicInspection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPathAll.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Fix history log mapping names
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Fix whole bunch of problems, Add KStepNeighbor
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPathAll.tsx
  hubble-fe/src/components/graph-management/metadata-configs/MetadataConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/graphViewStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/utils/index.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix algorithm and other bunch of issues
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagement.less
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/AsyncTasks.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
  hubble-fe/src/utils/formatAlgorithmStatement.ts
  hubble-fe/src/utils/index.ts
  hubble-fe/src/utils/isDataTypeNumeric.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Block algorithm entrance
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Fix some issues to deliver to a specific client
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagement.less
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/AsyncTasks.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix some issues to deliver to a specific client
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagement.less
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/AsyncTasks.json
Due: prettier --write, stylelint --fix

add remark name verification (#288)
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
Due: none

[HugeGraph-Hubble-fe] Fix some issues to deliver to a specific client (#291)
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagement.less
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/AsyncTasks.json
Due: prettier --write, stylelint --fix

Fix some small bugs and improve experience (#289)
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/schema/VertexLabelController.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/graph/GraphService.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

[HugeGraph-Hubble-fe] Pop up error message when the creation of vertex/edge map failed
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Pop up error message when the creation of vertex/edge map failed (#292)
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] temp #1
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.less
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyzeInfoDrawer.tsx
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/ReuseEdgeTypes.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.less
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/ReuseProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/ReuseVertexTypes.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/index.less
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/utils/index.ts
  hubble-fe/src/utils/formatAlgorithmStatement.ts
  hubble-fe/src/utils/index.ts
  hubble-fe/src/utils/isDataTypeNumeric.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] temp #2
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/TableQueryResult.tsx
  hubble-fe/src/components/graph-management/metadata-configs/MetadataConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/ReuseEdgeTypes.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/ReuseProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/ReuseVertexTypes.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/edgeTypeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/graphViewStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/metadataConfigsStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/vertexTypeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] temp #3
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyzeInfoDrawer.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddEdge.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddNode.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/AllPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/LoopDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/RadiographicInspection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPathAll.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphPopOver.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryFilterOptions.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTasks.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/FileConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/ReuseEdgeTypes.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/ReuseProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/ReuseVertexTypes.tsx
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/utils/calcAlgorithmFormWidth.ts
  hubble-fe/src/utils/filterEmptyAlgorightmParams.ts
  hubble-fe/src/utils/index.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] IE11 compatible support
  hubble-fe/package.json
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/DataMapConfigs.tsx
  hubble-fe/src/index.less
  hubble-fe/src/index.tsx
  hubble-fe/yarn.lock
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] IE11 compatible support #2 & remove algorithm
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/index.less
  hubble-fe/src/index.tsx
  hubble-fe/src/stores/GraphManagementStore/asyncTasksStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/ImportManagerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/dataMapStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/edgeTypeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/metadataPropertyStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/vertexTypeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix some component library issues on IE11
  hubble-fe/public/index.html
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/index.less
Due: prettier --write, stylelint --fix

Fix some component library issues on IE11 (#296)
  hubble-fe/public/index.html
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/index.less
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Resolve another bunch of IE11 compatible issues
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.less
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Resolve another bunch of IE11 compatible issues (#297)
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.less
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
Due: prettier --write, stylelint --fix

Fix some license params
  hubble-be/src/main/resources/verify-license.json
Due: none

Fix upgrade hugegraph-common version
  hubble-be/pom.xml
Due: none

add login module
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/HugeGraphHubble.java
  hubble-be/src/main/java/com/baidu/hugegraph/config/AuthClientConfiguration.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/system/LoginController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/login/LoginBody.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/login/LoginResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/AuthElement.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/Group.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/HubbleUser.java
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/LoginService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/TokenService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/ServletUtils.java
  hubble-be/src/main/resources/hugegraph-hubble.properties
Due: none

Path conditions:
  prettier --write: (any of: hubble-fe/**/*.json) or (any of: hubble-fe/src/**/*.{ts,tsx})
  stylelint --fix: any of: hubble-fe/src/**/*.{css,less}
