Repository hugegraph/hugegraph-hubble: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Extract some pages for Internationalization
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyzeInfoDrawer.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddEdge.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddNode.tsx
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization and fix some bug
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyzeInfoDrawer.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddEdge.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddNode.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/common/Favorite.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphPopOver.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryFilterOptions.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/TypeInfo.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/error-logs/JobErrorLogs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/MetadataConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/common/EmptyDataView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/ReuseEdgeTypes.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property-index/PropertyIndex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/ReuseProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddEdge.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddNode.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryFilterOptions.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/ReuseVertexTypes.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/dataMapStore.ts
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/edgeTypeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/graphViewStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/metadataPropertyStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/vertexTypeStore.ts
  hubble-fe/src/stores/utils/index.ts
Due: prettier --write

extract more pages for Internationalization
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
Due: prettier --write

1:fixed issue 320 2: Modify some errors in internationalization
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyzeInfoDrawer.tsx
  hubble-fe/src/components/graph-management/data-analyze/DynamicAddNode.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
Due: prettier --write, stylelint --fix

fix: correct hubble backend address
  hubble-fe/config-overrides.js
Due: none

[Feature] supplementary algorithms UI #370
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/metadata-configs/MetadataConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/graphViewStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/utils/index.ts
Due: prettier --write, stylelint --fix

remove unused code and chinese to i18n
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphPopOver.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
Due: prettier --write

Path conditions:
  prettier --write: (any of: hubble-fe/**/*.json) or (any of: hubble-fe/src/**/*.{ts,tsx})
  stylelint --fix: any of: hubble-fe/src/**/*.{css,less}
