Repository hugegraph/hugegraph-hubble: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

add token verify exception advisor
  hubble-be/src/main/java/com/baidu/hugegraph/handler/ExceptionAdvisor.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/resources/hugegraph-hubble.properties
Due: none

improve code
  hubble-be/src/main/java/com/baidu/hugegraph/config/AuthClientConfiguration.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/system/LoginController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/HubbleUser.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/AuthService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/TokenService.java
Due: none

add exception check in AuthFilter
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/AuthService.java
Due: none

improve code style
  hubble-be/src/main/java/com/baidu/hugegraph/controller/schema/PropertyKeyController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/schema/LabelUpdateEntity.java
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/AuthService.java
Due: none

chore: add issue template & auto stale issues and pr
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question_ask.md
  .github/workflows/stale.yml
Due: none

refactor issue template with forum struct
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question_ask.md
  .github/ISSUE_TEMPLATE/question_ask.yml
  .github/workflows/stale.yml
Due: none

add space
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
Due: none

add login module
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/HugeGraphHubble.java
  hubble-be/src/main/java/com/baidu/hugegraph/config/AuthClientConfiguration.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/system/LoginController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/login/LoginBody.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/login/LoginResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/AuthElement.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/Group.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/HubbleUser.java
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/LoginService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/TokenService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/ServletUtils.java
  hubble-be/src/main/resources/hugegraph-hubble.properties
Due: none

add user/project module
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/common/Constant.java
  hubble-be/src/main/java/com/baidu/hugegraph/config/ClientConfiguration.java
  hubble-be/src/main/java/com/baidu/hugegraph/config/JacksonConfig.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/project/ProjectController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/system/LoginController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/user/UserController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/login/LoginResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/project/ProjectEntity.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/user/UserEntity.java
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
  hubble-be/src/main/java/com/baidu/hugegraph/mapper/UserResourcesMapper.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/project/ProjectService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/system/AuthService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/user/UserService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/SessionUtil.java
  hubble-be/src/main/resources/database/data.sql
  hubble-be/src/main/resources/database/schema.sql
  hubble-be/src/main/resources/hugegraph-hubble.properties
Due: none

improve code style
  hubble-be/src/main/java/com/baidu/hugegraph/filter/AuthFilter.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/resources/database/data.sql
  hubble-be/src/main/resources/database/schema.sql
Due: none

Update pom.xml
  hubble-be/pom.xml
Due: none

remove true license module (v1.6)
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/controller/AboutController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/GraphConnectionController.java
  hubble-be/src/main/java/com/baidu/hugegraph/handler/CustomApplicationRunner.java
  hubble-be/src/main/java/com/baidu/hugegraph/handler/CustomInterceptor.java
  hubble-be/src/main/java/com/baidu/hugegraph/license/LicenseVerifier.java
  hubble-be/src/main/java/com/baidu/hugegraph/license/LicenseVerifyManager.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/license/LicenseService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
  hubble-dist/pom.xml
  pom.xml
Due: none

comment fe to build
  hubble-dist/pom.xml
Due: none

adopt loader
  hubble-be/src/main/java/com/baidu/hugegraph/handler/CustomApplicationRunner.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
Due: none

add graph ui
  hubble-fe/src/components/graph-management/NewGraphConfig.tsx
  hubble-fe/src/fix.less
  hubble-fe/src/index.tsx
Due: prettier --write, stylelint --fix

remove debugger info
  hubble-fe/README.md
  hubble-fe/config-overrides.js
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/types/common.ts
Due: prettier --write

Fix some formatting and naming
  hubble-fe/CHANGELOG.md
  hubble-fe/CHANGELOG.zh-CN.md
  hubble-fe/README.md
  hubble-fe/config-overrides.js
  hubble-fe/src/adaptBaiduUiPatch.less
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/fix.less
  hubble-fe/src/index.tsx
Due: prettier --write, stylelint --fix

format file
  hubble-fe/.gitignore
  hubble-fe/CHANGELOG.md
  hubble-fe/CHANGELOG.zh-CN.md
  hubble-fe/src/index.less
Due: stylelint --fix

change proxy url
  hubble-fe/config-overrides.js
Due: none

execute sql
  hubble-fe/CHANGELOG.zh-CN.md
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
Due: prettier --write

antd convert file
  .gitignore
  hubble-fe/src/components/common/UI/index.tsx
Due: prettier --write

In order to better make ui modifications in different branches can be used quickly
  hubble-fe/config-overrides.js
  hubble-fe/package.json
  hubble-fe/src/components/hubble-ui/index.tsx
  hubble-fe/src/components/hubble-ui/src/index.less
  hubble-fe/tsconfig-extend.json
  hubble-fe/tsconfig.json
  hubble-fe/yarn.lock
Due: prettier --write, stylelint --fix

Transfer
  hubble-fe/src/components/hubble-ui/index.tsx
Due: prettier --write

Format
  hubble-fe/src/components/hubble-ui/index.tsx
Due: prettier --write

Special Note
  hubble-fe/src/components/hubble-ui/index.tsx
Due: prettier --write

format
  hubble-fe/src/components/hubble-ui/index.tsx
Due: prettier --write

refact: adopt backend for ant-ui & improve configs
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-dist/assembly/static/conf/hugegraph-community.license
  hubble-dist/assembly/static/conf/hugegraph-hubble.properties
  hubble-dist/assembly/static/conf/hugegraph.truststore
  hubble-dist/pom.xml
Due: none

format shell
  hubble-dist/assembly/static/bin/common_functions
  hubble-dist/assembly/static/bin/start-hubble.sh
  hubble-dist/assembly/static/bin/stop-hubble.sh
  hubble-dist/pom.xml
Due: none

fix unit test
  hubble-be/src/test/java/com/baidu/hugegraph/unit/EntityUtilTest.java
Due: none

add build & release ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  hubble-dist/assembly/travis/build-report.sh
  hubble-dist/assembly/travis/start-hubble.sh
Due: none

exclude oracle dependency
  hubble-be/pom.xml
Due: none

use global env
  .github/workflows/ci.yml
Due: none

refactor graph configs
  hubble-dist/assembly/travis/hugegraph-server1/graphs/hugegraph1.properties
  hubble-dist/assembly/travis/hugegraph-server1/graphs/hugegraph2.properties
  hubble-dist/assembly/travis/hugegraph-server1/gremlin-server.yaml
  hubble-dist/assembly/travis/hugegraph-server1/rest-server.properties
  hubble-dist/assembly/travis/hugegraph-server2/graphs/hugegraph3.properties
  hubble-dist/assembly/travis/hugegraph-server2/gremlin-server.yaml
  hubble-dist/assembly/travis/hugegraph-server2/rest-server.properties
Due: none

adopt graph shell
  hubble-dist/assembly/travis/download-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
  hubble-dist/assembly/travis/install-hugegraph-hubble.sh
  hubble-dist/assembly/travis/run-api-test.sh
Due: none

Path conditions:
  prettier --write: (any of: hubble-fe/**/*.json) or (any of: hubble-fe/src/**/*.{ts,tsx})
  stylelint --fix: any of: hubble-fe/src/**/*.{css,less}
