Repository hugegraph/hugegraph-hubble: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

modifty certificate loading failure error prompt (#260)
  hubble-be/src/main/java/com/baidu/hugegraph/util/HugeClientUtil.java
Due: none

Set hubble and loader home path (#261)
  hubble-be/src/main/java/com/baidu/hugegraph/HugeGraphHubble.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
  hubble-dist/assembly/static/bin/start-hubble.sh
Due: none

Set unfold parameters in friendly way
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
Due: none

[hubble-fe] Disable algorithm in data-analyze module
  hubble-fe/package.json
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Add error message (expand node) in deep.
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Implement new algorithms
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskList.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/RadiographicInspection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix whole bunch of problems, Add KStepNeighbor
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPathAll.tsx
  hubble-fe/src/components/graph-management/metadata-configs/MetadataConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/metadataConfigsStore/graphViewStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/utils/index.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix algorithm:custom-path issues, add description about max_degree field
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/components/graph-management/NewGraphConfig.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/AllPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/CustomPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/Jaccard.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KHop.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/KStepNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/LoopDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ModelSimilarity.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/NeighborRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/PersonalRank.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/RadiographicInspection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SameNeighbor.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/ShortestPathAll.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/SingleSourceWeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/WeightedShortestPath.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/graphManagementStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Add error message (expand node) in deep. (#265)
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Fetch import task list in <ImportTaskList />
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Improve and fix bunch of issues.
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ImportConfigs.tsx
Due: prettier --write

Fix some bug and optimize some boundary conditions
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/LoadTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/Ex.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/FileUtil.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

[HugeGraph-Hubble-fe] Fetch import task list in <ImportTaskList /> (#267)
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Improve and fix bunch of issues. (#268)
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ImportConfigs.tsx
Due: prettier --write

tiny improve
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/LoadTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
Due: none

Fix split discard empty str
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/FileMappingService.java
Due: none

Fix some bug and optimize some boundary conditions (#266)
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/LoadTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/Ex.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/FileUtil.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

Fix split discard empty str (#270)
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/FileMappingService.java
Due: none

[HugeGraph-Hubble-fe] Keep query statements when clicks on tab
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Keep query statements when clicks on tab (#271)
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Remove <Dropdown /> primary color, dispose relative stores when <JobDetails /> is dismounted
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/TableQueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/job-details/JobDetails.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ImportConfigs.tsx
Due: prettier --write, stylelint --fix

Add check for load parameter
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

tiny improve
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

tiny improve
  hubble-be/src/main/resources/i18n/messages.properties
Due: none

[HugeGraph-Hubble-fe] Remove <Dropdown /> primary color, dispose relative stores when <JobDetails /> is dismounted (#274)
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/TableQueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/job-details/JobDetails.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ImportConfigs.tsx
Due: prettier --write, stylelint --fix

Add check for load parameter (#272)
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

[HugeGraph-Hubble-fe] Change validations of import Setting
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/data-import/import-tasks/ImportTasks.json
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/serverDataImportStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Change validations of import Setting (#275)
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/data-import/import-tasks/ImportTasks.json
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/serverDataImportStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Optimize back & forward ex
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportFinish.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/UploadEntry.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/FileConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/TypeConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/job-details/JobDetails.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/job-details/JobDetails.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ServerDataImport.less
  hubble-fe/src/hooks/useInitDataImport.tsx
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/serverDataImportStore.ts
Due: prettier --write, stylelint --fix

Fix small amount of issues
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/components/graph-management/NewGraphConfig.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/hooks/useInitDataImport.tsx
  hubble-fe/src/stores/GraphManagementStore/graphManagementStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/graphManagementStore.ts
Due: prettier --write, stylelint --fix

[HugeGraph-Hubble-fe] Fix Import configs validation & abort fetching when user leaves upload page
  hubble-fe/src/components/graph-management/data-import/import-tasks/UploadEntry.tsx
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/dataImportRootStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/serverDataImportStore.ts
Due: prettier --write

[HugeGraph-Hubble-fe] Revert redirect when users re-visit <ImportFinish />
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportFinish.tsx
  hubble-fe/src/hooks/useInitDataImport.tsx
Due: prettier --write

[HugeGraph-Hubble-fe] Reveal <Button /> in DataMap when user browse from <JobDetails />
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
Due: prettier --write

Improvements and fix bunch of issues (#276)
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportFinish.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTaskList.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/UploadEntry.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/FileConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/TypeConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/job-details/JobDetails.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/job-details/JobDetails.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ServerDataImport.less
  hubble-fe/src/hooks/useInitDataImport.tsx
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/dataImportRootStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/serverDataImportStore.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: hubble-fe/**/*.json) or (any of: hubble-fe/src/**/*.{ts,tsx})
  stylelint --fix: any of: hubble-fe/src/**/*.{css,less}
