Repository hugegraph/hugegraph-hubble: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.yml:

hubble-fe/**/*.json:
  - prettier --write
hubble-fe/src/**/*.{ts,tsx}:
  - prettier --write
hubble-fe/src/**/*.{css,less}:
  - stylelint --fix

Update install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
Due: none

tiny
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
Due: none

refactor
  .github/workflows/ci.yml
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
Due: none

fix
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
Due: none

fix
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server1/rest-server.properties
  hubble-dist/assembly/travis/hugegraph-server2/rest-server.properties
Due: none

use multi rkdata dir
  hubble-dist/assembly/travis/hugegraph-server1/graphs/hugegraph1.properties
  hubble-dist/assembly/travis/hugegraph-server1/graphs/hugegraph2.properties
  hubble-dist/assembly/travis/hugegraph-server2/graphs/hugegraph3.properties
Due: none

fix
  hubble-dist/assembly/travis/hugegraph-server1/graphs/hugegraph1.properties
  hubble-dist/assembly/travis/hugegraph-server1/graphs/hugegraph2.properties
  hubble-dist/assembly/travis/hugegraph-server2/graphs/hugegraph3.properties
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
Due: none

add passwd
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server2/rest-server.properties
Due: none

show error
  .github/workflows/ci.yml
  hubble-dist/assembly/travis/install-hugegraph-hubble.sh
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update pom.xml
  hubble-dist/pom.xml
Due: none

debug
  hubble-dist/assembly/travis/install-hugegraph-hubble.sh
  hubble-dist/pom.xml
Due: none

tiny
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/install-hugegraph-hubble.sh
  hubble-dist/pom.xml
Due: none

remove yarn.lock
  hubble-fe/yarn.lock
Due: none

CI=false
  .github/workflows/ci.yml
  .gitignore
  hubble-fe/.env
  hubble-fe/yarn.lock
Due: none

fix cd command
  hubble-dist/assembly/travis/install-hugegraph-hubble.sh
Due: none

tiny
  .github/workflows/ci.yml
  hubble-dist/assembly/travis/hugegraph-server2/rest-server.properties
  hubble-dist/assembly/travis/start-hubble.sh
  hubble-fe/.env
  hubble-fe/yarn.lock
Due: none

Update yarn.lock
  hubble-fe/yarn.lock
Due: none

Update start-hubble.sh
  hubble-dist/assembly/travis/start-hubble.sh
Due: none

comment
  .github/workflows/ci.yml
  hubble-dist/assembly/static/bin/common_functions
  hubble-dist/assembly/static/bin/start-hubble.sh
  hubble-dist/assembly/travis/start-hubble.sh
Due: none

fix timeout problem
  hubble-dist/assembly/static/bin/common_functions
  hubble-dist/assembly/static/bin/start-hubble.sh
  hubble-dist/assembly/travis/start-hubble.sh
Due: none

uncomment api test
  .github/workflows/ci.yml
  hubble-dist/assembly/travis/build-report.sh
Due: none

combine
  .github/workflows/ci.yml
  hubble-dist/assembly/travis/run-api-test.sh
Due: none

support py3
  hubble-be/src/test/python/steps/check_server_status.py
Due: none

Update check_server_status.py
  hubble-be/src/test/python/steps/check_server_status.py
Due: none

final test
  .github/workflows/ci.yml
  hubble-dist/assembly/static/bin/common_functions
  hubble-dist/assembly/travis/hugegraph-server1/install-hugegraph.sh
  hubble-dist/assembly/travis/hugegraph-server2/install-hugegraph.sh
  hubble-dist/assembly/travis/install-hugegraph.sh
  hubble-dist/assembly/travis/run-api-test.sh
Due: none

i18n Basic function realization
  hubble-fe/src/components/common/AppBar.less
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/i18n/index.ts
  hubble-fe/src/i18n/resources/en-US/graph-managment/AsyncTasks.json
  hubble-fe/src/i18n/resources/en-US/graph-managment/GraphManagementSidebar.json
  hubble-fe/src/i18n/resources/en-US/graph-managment/common.json
  hubble-fe/src/i18n/resources/en-US/graph-managment/data-import/import-tasks/ImportTasks.json
  hubble-fe/src/i18n/resources/en-US/graph-managment/dataAnalyze.json
  hubble-fe/src/i18n/resources/en-US/graph-managment/index.ts
  hubble-fe/src/i18n/resources/en-US/index.ts
  hubble-fe/src/i18n/resources/index.ts
Due: prettier --write, stylelint --fix

UI component i18n
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/i18n/index.ts
  hubble-fe/src/index.tsx
Due: prettier --write

fix: 1)菜单不居中 2) 边样式 以及 顶点样式 新增 修改 交互
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/index.less
Due: prettier --write, stylelint --fix

Add additional json configuration and the replacement example
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/en-US/graph-managment/index.ts
  hubble-fe/src/i18n/resources/en-US/index.ts
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/index.ts
  hubble-fe/src/i18n/resources/zh-CN/index.ts
Due: prettier --write

format file, remove blank
  hubble-fe/src/index.less
Due: stylelint --fix

format file, add end blank
  hubble-fe/src/components/common/AppBar.less
  hubble-fe/src/i18n/resources/en-US/graph-managment/GraphManagementSidebar.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/GraphManagementSidebar.json
Due: prettier --write, stylelint --fix

format file
  hubble-fe/src/components/common/AppBar.tsx
Due: prettier --write

Extract some pages for Internationalization
  hubble-fe/src/components/graph-management/GraphManagementEmptyList.tsx
  hubble-fe/src/components/graph-management/GraphManagementHeader.tsx
  hubble-fe/src/components/graph-management/GraphManagementList.tsx
  hubble-fe/src/components/graph-management/GraphManagementSidebar.tsx
  hubble-fe/src/components/graph-management/NewGraphConfig.tsx
  hubble-fe/src/i18n/resources/en-US/graph-managment/addition.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/addition.json
Due: prettier --write
