Repository hugegraph/hugegraph-hubble: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.yml:

hubble-fe/**/*.json:
  - prettier --write
hubble-fe/src/**/*.{ts,tsx}:
  - prettier --write
hubble-fe/src/**/*.{css,less}:
  - stylelint --fix

Fix some tiny bugs
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/controller/GraphConnectionController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/schema/SchemaController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/graph/GraphService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/FileMappingService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/FileUtil.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

Coding specification
  hubble-be/src/test/java/com/baidu/hugegraph/unit/EntityUtilTest.java
Due: none

Coding specification
  hubble-be/src/main/java/com/baidu/hugegraph/entity/GraphConnection.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/SettingSSLService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/HugeClientUtil.java
Due: none

Coding specification
  hubble-be/src/main/java/com/baidu/hugegraph/service/SettingSSLService.java
Due: none

Add client https method
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/controller/GraphConnectionController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/GraphConnection.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/HugeClientPoolService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/SettingSSLService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/HugeClientUtil.java
  hubble-be/src/main/resources/hugegraph-hubble.properties
  hubble-be/src/test/java/com/baidu/hugegraph/unit/EntityUtilTest.java
Due: none

Support hugeclient budiler for import file and tryconnect method
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/controller/GraphConnectionController.java
  hubble-be/src/main/java/com/baidu/hugegraph/options/HubbleOptions.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/HugeClientPoolService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/SettingSSLService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/HugeClientUtil.java
Due: none

Improve count lines in FileUtil
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/util/FileUtil.java
  hubble-be/src/test/java/com/baidu/hugegraph/unit/FileUtilTest.java
  hubble-be/src/test/resources/files/file_with_empty_line
  hubble-be/src/test/resources/files/file_without_empty_line
Due: none

add some comments
  hubble-be/src/main/java/com/baidu/hugegraph/util/FileUtil.java
Due: none

Modify hugeclient format
  hubble-be/src/main/java/com/baidu/hugegraph/util/HugeClientUtil.java
Due: none

[hubble-fe] Adjust style lints temporarily
  .stylelintrc
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.less
Due: stylelint --fix

[hubble-fe] Abstract react-popper-tooltip configs and replace them to where there are standing
  hubble-fe/src/components/common/Tooltip.tsx
  hubble-fe/src/components/common/index.ts
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/TypeConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/TypeInfo.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckProperty.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateEdge.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
Due: prettier --write

[hubble-fe] Fix <Switch />, <Select /> issues after component lib upgrades
  hubble-fe/src/index.less
Due: stylelint --fix

[hubble-fe] modify text in vertex/edge map
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/EdgeMap.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/VertexMap.tsx
Due: prettier --write

[hubble-fe] Add keyboard shortcut in queries
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/hooks/index.ts
  hubble-fe/src/hooks/useMultiKeyPress.tsx
Due: prettier --write

[hubble-fe] Upgrade component lib and other dependencies
  hubble-fe/package.json
  hubble-fe/yarn.lock
Due: prettier --write

[hubble-fe] Fix RadioGroup primary button style issue after component lib upgrades
  hubble-fe/src/index.less
Due: stylelint --fix

[hubble-fe] Bumped version v1.3.0 -> v1.3.1
  hubble-fe/CHANGELOG.md
  hubble-fe/CHANGELOG.zh-CN.md
  hubble-fe/package.json
  package.json
Due: prettier --write

[hubble-fe] Bumped version to 1.5.0, add description
  hubble-fe/CHANGELOG.md
  hubble-fe/package.json
  package.json
Due: prettier --write

[hubble-fe] Add support for analyzing algorithm
  hubble-fe/src/components/App.tsx
  hubble-fe/src/components/common/AppBar.tsx
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskResult.tsx
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/GraphQueryResult.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/TypeInfo.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/error-logs/TaskErrorLogs.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/error-logs/TaskErrorLogs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ImportConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/MetadataConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/EdgeTypeList.tsx
  hubble-fe/src/components/graph-management/metadata-configs/edge-type/NewEdgeType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CreateVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/components/graph-management/metadata-configs/property/MetadataProperties.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/NewVertexType.tsx
  hubble-fe/src/components/graph-management/metadata-configs/vertex-type/VertexTypeList.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/AsyncTasks.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/index.ts
  hubble-fe/src/i18n/resources/zh-CN/index.ts
  hubble-fe/src/index.less
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/serverDataImportStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/index.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
Due: prettier --write, stylelint --fix

[hubble-fe] Bumped version to 1.6.0, add description
  hubble-fe/CHANGELOG.md
  hubble-fe/CHANGELOG.zh-CN.md
  hubble-fe/package.json
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskResult.less
  hubble-fe/src/components/graph-management/async-tasks/AsyncTaskResult.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportManager.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/ImportTasks.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/datamap-configs/FileConfigs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/error-logs/JobErrorLogs.less
  hubble-fe/src/components/graph-management/data-import/import-tasks/error-logs/JobErrorLogs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/error-logs/TaskErrorLogs.tsx
  hubble-fe/src/components/graph-management/data-import/import-tasks/server-data-import/ImportConfigs.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/CheckAndEditVertex.tsx
  hubble-fe/src/components/graph-management/metadata-configs/graph-view/GraphView.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/asyncTasksStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/ImportManagerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataImportStore/dataImportRootStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/utils/convertStringToJSON.ts
  hubble-fe/src/utils/index.ts
  package.json
Due: prettier --write, stylelint --fix

add loop-detection and focus-detection
  hubble-fe/src/components/graph-management/data-analyze/DataAnalyze.less
  hubble-fe/src/components/graph-management/data-analyze/ExecLogAndQueryCollections.tsx
  hubble-fe/src/components/graph-management/data-analyze/QueryAndAlgorithmLibrary.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/FocusDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/algorithm/LoopDetection.tsx
  hubble-fe/src/components/graph-management/data-analyze/query-result/QueryResult.tsx
  hubble-fe/src/i18n/resources/zh-CN/graph-managment/dataAnalyze.json
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/algorithmAnalyzerStore.ts
  hubble-fe/src/stores/GraphManagementStore/dataAnalyzeStore/dataAnalyzeStore.ts
  hubble-fe/src/stores/factory/dataAnalyzeStore/algorithmStore.ts
  hubble-fe/src/stores/types/GraphManagementStore/dataAnalyzeStore.ts
Due: prettier --write, stylelint --fix

tiny improve
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/FileSetting.java
Due: none

Fix some loader bug
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/FileSetting.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
Due: none

fix path result show in graph view miss some edges
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/FileSetting.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/query/GremlinResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/GremlinQueryService.java
Due: none

hugeGraph-test-810 FIX BUG
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/AsyncTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/AsyncTaskResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/AsyncTaskService.java
Due: none

ADD 1.3.1 && 1.5.0
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/AsyncTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileMappingController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileUploadController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/LoadTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/ExecuteHistoryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/AsyncTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/AsyncTaskResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/AsyncTaskStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/ExecuteStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/FileMappingStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/JobManagerStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/FileMapping.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/JobManager.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/JobManagerItem.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/JobManagerReasonResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/mapper/algorithm/AsyncTaskMapper.java
  hubble-be/src/main/java/com/baidu/hugegraph/mapper/load/JobManagerMapper.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/AsyncTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/FileMappingService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/JobManagerService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/LoadTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/ExecuteHistoryService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/GremlinQueryService.java
  hubble-be/src/main/resources/database/schema.sql
Due: none

Add shortest path algorithm hugeGraph-test-842
  hubble-be/src/main/java/com/baidu/hugegraph/controller/GraphConnectionController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/OltpAlgoController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/ShortPath.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/OltpAlgoService.java
Due: none

Add shortest path algorithm hugeGraph-test-842
  hubble-be/pom.xml
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/OltpAlgoController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/ShortPath.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/AsyncTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/OltpAlgoService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/ExecuteHistoryService.java
  pom.xml
Due: none

ADD short path algorithm
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/OltpAlgoService.java
Due: none

MOD:修改任务管理校验 hugeGraph-test-810
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
Due: none

fix job manager check bug
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
Due: none

modify pom version information
  hubble-be/pom.xml
  pom.xml
Due: none

modify the code format
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/AsyncTaskController.java
Due: none

modify code format modify the upload file path add interface prompt description
  hubble-be/src/main/java/com/baidu/hugegraph/common/Constant.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/AsyncTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileUploadController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/LoadTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/AsyncTaskStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/FileMappingStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/enums/JobManagerStatus.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/AsyncTaskService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/OltpAlgoService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/FileMappingService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/ExecuteHistoryService.java
  hubble-be/src/main/resources/database/schema.sql
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

modify code format add version
  hubble-be/src/main/java/com/baidu/hugegraph/controller/AboutController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
  hubble-be/src/main/java/com/baidu/hugegraph/version/HubbleVersion.java
  hubble-be/src/main/resources/i18n/messages.properties
Due: none

modify the code format align modify load_task entity
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/OltpAlgoController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileUploadController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/LoadTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/query/GremlinQueryController.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/AsyncTaskResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/algorithm/ShortestPath.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/JobManagerItem.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/JobManagerReasonResult.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/load/LoadTask.java
  hubble-be/src/main/java/com/baidu/hugegraph/entity/query/ExecuteHistory.java
  hubble-be/src/main/java/com/baidu/hugegraph/mapper/load/JobManagerMapper.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/algorithm/OltpAlgoService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/JobManagerService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/ExecuteHistoryService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/GremlinQueryService.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

modify the code format align modify file upload path
  hubble-be/src/main/java/com/baidu/hugegraph/controller/GraphConnectionController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/algorithm/AsyncTaskController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/FileUploadController.java
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/load/JobManagerService.java
  hubble-be/src/main/java/com/baidu/hugegraph/service/query/ExecuteHistoryService.java
  hubble-be/src/main/resources/i18n/messages.properties
  hubble-be/src/main/resources/i18n/messages_zh_CN.properties
Due: none

fix job manager reason bug
  hubble-be/src/main/java/com/baidu/hugegraph/controller/load/JobManagerController.java
Due: none
